dialog {
  margin: auto;
  padding: 0px;
  width: 500px;
  height: 750px;
  border: none;
  border-radius: 32px;
}

dialog img {
  width: 300px;
  height: 300px;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog_design {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 740px;
}

.dialog_design p {
  font-size: 18px;
}

.sprite_buttons {
  display: flex;
}
.sprite_buttons > button {
  width: 250px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  font-weight: 500;
}

.dialog_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 8px;
  width: 100%;
}

.index_name_type {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  color: white;
  padding: 0px 60px;
}

.information_tabs {
  display: flex;
}

.information_tabs > button {
  width: 167px;
  border-left: none;
  border-right: none;
  font-size: 20px;
  font-weight: 500;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding-top: 16px;
}

.switch_id {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0px 45px;
}

.close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.close p {
  font-size: 24px;
  font-weight: 700;
}

.arrow_left,
.arrow_right {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
}

.arrow_left > img {
  transform: rotate(180deg);
}

.arrow_left:hover,
.arrow_right:hover,
.close:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

.arrow_left > img,
.arrow_right > img {
  width: 32px;
  height: 32px;
}

.dialog_offen {
  overflow: hidden;
}